<!DOCTYPE html>
<html>
<head>
    <title>Players - View All</title>
</head>
<body bgcolor="#ff7f50">
<h1>Players</h1>
<table border="5" bordercolor="white">
    <tr>
        <th>ID</th>
        <th>Jersey Number</th>
        <th>Team Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Birthday</th>
    </tr>
    <% for (var i = 0; i < players.length; i++) {%>
    <tr>
        <td><%= players[i].player_id %></td>
        <td><%= players[i].jersey_number%></td>
        <td><%= players[i].team_name%></td>
        <td><%= players[i].first_name%></td>
        <td><%= players[i].last_name%></td>
        <td><%= players[i].position%></td>
        <td><%= players[i].birthday%></td>
    </tr>
    <%} %>
</table>
</body>
</html>