<!DOCTYPE html>
<html>
<head>
    <title>Stadium - View All</title>
</head>
    <body bgcolor="#ff7f50">

        <h1>Stadiums</h1>
        <table border="5" bordercolor="white">

            <tr>
                <th>ID</th>
                <th>Stadium Name</th>
                <th>Street Name</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            <% for (var i = 0; i < stadiums.length; i++) {%>
            <tr>
                <td><%= stadiums[i].stadium_id %></td>
                <td><%= stadiums[i].stadium_name%></td>
                <td><%= stadiums[i].street_name%></td>
                <td><%= stadiums[i].city%></td>
                <td><%= stadiums[i].state%></td>
                <td><%= stadiums[i].zip_code%></td>
            </tr>
            <%} %>
        </table>
    </body>
</html>